{% assign t = site.tags.translations[0] %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>
      {{t.[page.lang].global.montreal-floorball-club}}
    </title>

    <!-- include css -->
    {% stylesheet app %}

    <!-- include javascript -->
    {% javascript app %}

    {% comment %}
    This doesn't work using the asset pipeline.
    It should be in _assets/javascript and be required in app.js.coffee

    See https://twitter.com/settings/widgets (user xlymian)
    {% endcomment %}

    {% include twitter-feed.js %}
</head>
<body>

    {% comment %}
  {% include masthead.html %}
  {% include language-toggle.html %}
    {% endcomment %}

  {% include top-bar.html %}

  <div id="main">
    <div class="row">
      <div class="large-12 columns">
        <div class="large-8 medium-8 columns">
          {{ content }}
        </div>

        <div class="large-4 medium-4 columns">
          {% include twitter-feed.html %}
        </div>
      </div>
    </div>
  </div>

 <script> $(document).ready(function() { $(document).foundation(); }); </script>

</body>
</html>
