{% assign t = site.tags.translations[0] %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>
      {{t.[page.lang].global.montreal-floorball-club}}
    </title>

    <!-- include css -->
    {% stylesheet app %}

</head>
<body>

  <div class="row">
    <div class="large-12 columns">
    </div>

    <div class="large-3 medium-3 columns">
    </div>

    <div class="large-1 medium-1 columns">
      <p>
        {% if page.lang == 'en' %}
          <a class='small radius button' data-lang='fr' href='{{site.baseurl}}/fr{{page.url | remove: 'index.html'}}'>Français</a>
        {% else %}
          <a class='small radius button' data-lang='en' href='{{site.baseurl}}{{page.url | replace_first:'/fr', ''}}'>English</a>
        {% endif %}
      </p>
    </div>
  </div>

  <div id="main">
    {{ content }}
  </div>

</body>
</html>
