body {
  background-color: grey;
  color: white;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3em;
}

p {
  margin-bottom: 1em;
}

.transparent {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

#top-bar {
  background-color: black;
}
