---
layout: default
lang: en
permalink: /testing-haml
---

%p This is a test in HAML

.toto
  Floorball is an exciting, fast-paced game that resembles ball hockey or
  hockey cosom, in Quebec. Themain difference is that the rules do not allow a
  lot of stick or body contact. While the game tendsto be less physical than
  hockey, floorball is a skill-oriented, entertaining style of play that
  promotes high scoring and is designed to limit injuries.
