<ul>
  <li class="has-dropdown">
    <a href="/montreal-open-2013">
      Montréal Open 2013
    </a>

    <ul class="dropdown">
      <li>
        <a href="/montreal-open-2013">
          Montréal Open 2013
        </a>
      </li>

      <li>
        <a href="/montreal-open-2013/venue">
          {{t.[page.lang].global.venue}}
        </a>
      </li>

      <li>
        <a href="/montreal-open-2013/schedule">
          {{t.[page.lang].global.schedule}}
        </a>
      </li>

      <li>
        <a href="/montreal-open-2013/teams">
          {{t.[page.lang].global.teams}}
        </a>
      </li>

      <li>
        <a href="/montreal-open-2013/scores">
          {{t.[page.lang].global.scores}}
        </a>
      </li>

      <li>
        <a href="/montreal-open-2013/stats">
          {{t.[page.lang].global.stats}}
        </a>
      </li>

    </ul>
  </li>
</ul>
