{% if page.lang == 'fr' %}
  {% assign floorball = "/fr" %}
  {% assign equipment = "/fr/equipment" %}
  {% assign rules = "/fr/rules" %}
{% else %}
  {% assign floorball = "/" %}
  {% assign equipment = "/equipment" %}
  {% assign rules = "/rules" %}
{% endif %}

<ul>
  <li class="has-dropdown">
    <a href={{ floorball }}>
      {{t.[page.lang].global.welcome}}
    </a>

    <ul class="dropdown">
      <li>
        <a href={{ floorball }}>
          {{t.[page.lang].global.what-is-floorball}}
        </a>
      </li>

      <li>
        <a href={{ equipment }}>
          {{t.[page.lang].global.the-equipment}}
        </a>
      </li>

      <li>
        <a href="http://www.floorball.org/Liitetiedostot/Rules%20of%20the%20Game%20Edition%202010.pdf"
           target="_window">
          {{t.[page.lang].global.rules-of-the-game}}
        </a>
      </li>

    </ul>
  </li>
</ul>
